In [6]:
import sys
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('expand_frame_repr', False)
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import datetime as dt
import sklearn
import re

In [2]:
if os.getcwd()[9:14] == 'ssoma':
    file_path = "C:\\Users\\ssoma\\OneDrive - Bayer\\Personal Data-R90PQ30R\\Analytics\\house-pricing\\input-data\\"
else:
    file_path = "C:\\Users\\sivac\\Documents\\Analytics\\house-pricing\\input-data\\"


file_list = os.listdir(file_path)
for i in file_list:
    i = file_path + i
    file = pd.read_csv(i)
    
    if 'df' in globals():
        df = pd.concat([df, file])
    else:
        df = file

print(f'Raw dataset shape: {df.shape}')



df_new = df[['ARCH','BEDROOMS','BATHROOMS','HALF_BATHROOMS','BASE_AREA','TOTAL_AREA','BASEMENT_AREA','BASEMENT_FINISHED_AREA',
             'PARKING_AREA', 'YRBLT','PHYS','QUALITY_CODE', 'LOT_SIZE', 'LAND_VALUE', 'LAST_SALE_PRICE', 'LAST_SALE_DATE', 
             'MARKET_VALUE', 'USPF']].copy()
df = df.drop_duplicates().reset_index(drop=True)
print(f'Raw dataset shape with duplicates removed: {df.shape}')
df_new.head()

Raw dataset shape: (293, 34)
Raw dataset shape with duplicates removed: (293, 34)

   ARCH  BEDROOMS  BATHROOMS  HALF_BATHROOMS  BASE_AREA  TOTAL_AREA  BASEMENT_AREA  BASEMENT_FINISHED_AREA  PARKING_AREA  YRBLT  PHYS  QUALITY_CODE  LOT_SIZE  LAND_VALUE  LAST_SALE_PRICE              LAST_SALE_DATE  MARKET_VALUE    USPF
0  2STY       4.0        4.0             1.0       3622        3622           1645                      54           651   2012     8            45      0.22       58000           550000  Aug 25 2020 12:00:00:000AM     561275.00  154.96
1  2STY       6.0        4.0             1.0       3506        3506           1768                       0           630   2013     7            40      0.21       58000           435000  Apr  4 2019 12:00:00:000AM     469738.25  133.98
2  2STY       4.0        3.0             1.0       2587        2587           1180                      75           420   2007     8            40      0.21       58000           364900  Jun 22 2020 12:00:00:000AM     375372.63  145.10
3  2STY       4.0        2.0             1.0       2544        2544           1232                       0           400   2010    11            35      0.14       58000           315000  Aug  9 2019 12:00:00:000AM     336955.50  132.45
4  2STY       4.0        3.0             1.0       2766        2766           1291                      71           400   2008     8            35      0.18       58000           355000  Jul 18 2019 12:00:00:000AM     375830.00  135.87

# Data Transformation

In [3]:
df_new['LAST_SALE_DATE'] = pd.to_datetime(df_new['LAST_SALE_DATE'], format="%b %d %Y %I:%M:%S:%f%p")

# Generating useful information from date values

df_new['SALE_DATE_YR'] = df_new['LAST_SALE_DATE'].dt.year
df_new['AGE_OF_HOUSE_AT_SALE'] = df_new['SALE_DATE_YR'] - df_new['YRBLT']
df_new['SALE_DATE_MNTH'] = df_new['LAST_SALE_DATE'].dt.month
df_new['SALE_DATE_DT'] = df_new['LAST_SALE_DATE'].dt.day
df_new.drop(['LAST_SALE_DATE', 'YRBLT', 'USPF', 'PHYS'], axis=1, inplace=True)
df_new = pd.get_dummies(df_new)
df_new.head()

   BEDROOMS  BATHROOMS  HALF_BATHROOMS  BASE_AREA  TOTAL_AREA  BASEMENT_AREA  BASEMENT_FINISHED_AREA  PARKING_AREA  QUALITY_CODE  LOT_SIZE  LAND_VALUE  LAST_SALE_PRICE  MARKET_VALUE  SALE_DATE_YR  AGE_OF_HOUSE_AT_SALE  SALE_DATE_MNTH  SALE_DATE_DT  ARCH_1STY  ARCH_2STY
0       4.0        4.0             1.0       3622        3622           1645                      54           651            45      0.22       58000           550000     561275.00          2020                     8               8            25          0          1
1       6.0        4.0             1.0       3506        3506           1768                       0           630            40      0.21       58000           435000     469738.25          2019                     6               4             4          0          1
2       4.0        3.0             1.0       2587        2587           1180                      75           420            40      0.21       58000           364900     375372.63          2020                    13               6            22          0          1
3       4.0        2.0             1.0       2544        2544           1232                       0           400            35      0.14       58000           315000     336955.50          2019                     9               8             9          0          1
4       4.0        3.0             1.0       2766        2766           1291                      71           400            35      0.18       58000           355000     375830.00          2019                    11               7            18          0          1

In [4]:
from sklearn.model_selection import train_test_split

df_y = df_new['LAST_SALE_PRICE']
df_x = df_new.drop('LAST_SALE_PRICE', axis=1)

x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.25, random_state = 1)
print(f' Training dataset shape: {x_train.shape} | Testing dataset shape: {x_test.shape}')

 Training dataset shape: (219, 18) | Testing dataset shape: (74, 18)

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

model = LinearRegression()
model.fit(x_train, y_train)

# print(model.intercept_)
# print(model.coef_)
y_pred = model.predict(x_test)

df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(f'{df.head()} \n')

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R-squared:', metrics.r2_score(y_test, y_pred, multioutput='uniform_average'))

# https://www.analyticsvidhya.com/blog/2021/05/all-you-need-to-know-about-your-first-machine-learning-model-linear-regression/
# https://www.analyticsvidhya.com/blog/2021/07/an-introduction-to-linear-regression/
# https://www.analyticsvidhya.com/blog/2021/06/getting-started-with-machine-learning%e2%80%8a-%e2%80%8aimplementing-linear-regression-from-scratch/

    Actual      Predicted
5   268000  269287.879192
30  484000  482666.885334
29  339000  333620.046310
17  330000  327469.350382
28  375000  376308.999026

Mean Absolute Error: 2339.1468243361323
Mean Squared Error: 8491902.980470242
Root Mean Squared Error: 2914.0869891734947
R-squared: 0.9982507653133185

# Predicting unknown dataset

In [20]:
unseen_data = file_path.replace("input-data\\","")
unseen_data = pd.read_csv(unseen_data + "unseen_data.csv")
address = unseen_data['ADDRESS']
unseen_data.drop('ADDRESS', axis=1, inplace=True)

# Data Preparation
unseen_data['SALE_DATE_YR'] = dt.date.today().year
unseen_data['AGE_OF_HOUSE_AT_SALE'] = (dt.date.today().year)  - (unseen_data['YRBLT'])
unseen_data['SALE_DATE_MNTH'] = dt.date.today().month
unseen_data['SALE_DATE_DT'] = dt.date.today().day
unseen_data.drop(['YRBLT'], axis=1, inplace=True)
unseen_data = pd.get_dummies(unseen_data)
unseen_data.head()

   BEDROOMS  BATHROOMS  HALF_BATHROOMS  BASE_AREA  TOTAL_AREA  BASEMENT_AREA  BASEMENT_FINISHED_AREA  PARKING_AREA  QUALITY_CODE  LOT_SIZE  LAND_VALUE  MARKET_VALUE  SALE_DATE_YR  AGE_OF_HOUSE_AT_SALE  SALE_DATE_MNTH  SALE_DATE_DT  ARCH_1STY  ARCH_2STY
0         3          3               0       1664        1664           1664                    1200           400            40      0.20           0        319155          2021                    12               9             7          1          0
1         4          2               1       1312        2544           1232                       0           400            35      0.14       58000        318206          2021                    11               9             7          0          1

In [21]:
predicted_price = model.predict(unseen_data)
df = pd.DataFrame({'Address': address, 'Predicted': predicted_price})
df

                 Address      Predicted
0  1900 BRIDGECREST XING  352949.488952
1  1945 BRIDGECREST XING  331541.154427

# Visualizations

In [ ]:
numericCols = df_new.select_dtypes(include=['float64','int64'])

# Calculate Correlation
corr = numericCols.corr()
# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})